/* ボーダー */
:root {
    --border-chat-item-distance: 8px;/* アイコン画像〜吹き出し間の距離(吹き出し角分は自動で空きます) */
  
    --border-chat-icon-radius: 50%;/* アイコン円形, 四角形角丸は px で指定 */
    --border-chat-icon-bgcolor: rgb(240,240,240);/* アイコン背景色(透過PNGへの配慮) */
    --border-chat-icon-bgimage-left: url(画像URL);/* 左画像 */
    --border-chat-icon-bgimage-right: url(画像URL);/* 右画像 */
  
    --border-chat-triangle-size: 16px;/* 吹き出し角大きさ */
    --border-chat-triangle-position-top: 15px;/* 吹き出し角位置(上から) */
  
    --border-chat-text-radius: 6px;/* テキスト角丸 */
    --border-chat-text-border-width: 3px;/* テキストボーダー太さ */
    --border-chat-text-border-color: rgb(161,172,191);/* テキストボーダー色 */
    --border-chat-text-bgcolor: rgb(225,236,255);/* テキスト背景色 */
    --border-chat-text-color: rgb(51,51,51);/* テキスト文字色 */
  }
  
  .border__chat {
    gap: 0 calc(var(--border-chat-item-distance) + calc(calc(var(--border-chat-triangle-size) / 1.5) + calc(var(--border-chat-text-border-width) * 2) - calc(var(--border-chat-text-border-width) - 1px)));
  }
  
  .border__chat .chat__icon {
    border-radius: var(--border-chat-icon-radius);
    background-color: var(--border-chat-icon-bgcolor);
    background-image: var(--border-chat-icon-bgimage-left);
  }
  
  .border__chat.chat__r .chat__icon {
    background-image: var(--border-chat-icon-bgimage-right);
  }
  
  .border__chat .chat__text {
    border-radius: var(--border-chat-text-radius);
    border: var(--border-chat-text-border-width) solid var(--border-chat-text-border-color);
    background: var(--border-chat-text-bgcolor);
    color: var(--border-chat-text-color);
  }
  
  .border__chat .chat__text::before,
  .border__chat .chat__text::after {
    content: "";
    display: block;
    position: absolute;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
  }
  
  .border__chat .chat__text::before {
    top: calc(var(--border-chat-triangle-position-top) - var(--border-chat-text-border-width));
    right: 100%;
    width: calc(calc(var(--border-chat-triangle-size) / 1.5) + calc(var(--border-chat-text-border-width) * 2) - calc(var(--border-chat-text-border-width) - 1px));
    height: calc(var(--border-chat-triangle-size) + calc(var(--border-chat-text-border-width) * 2));
    background: var(--border-chat-text-border-color);
  }
  
  .border__chat .chat__text::after {
    top: var(--border-chat-triangle-position-top);
    right: calc(100% - 1px);
    width: calc(var(--border-chat-triangle-size) / 1.5);
    height: var(--border-chat-triangle-size);
    background: var(--border-chat-text-bgcolor);
  }
  
  .border__chat.chat__r .chat__text::before,
  .border__chat.chat__r .chat__text::after {
    right: auto;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
  
  .border__chat.chat__r .chat__text::before {
    left: 100%;
  }
  
  .border__chat.chat__r .chat__text::after {
    left: calc(100% - 1px);
  }